body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  display: block;
  width: 400px;
  background: #fff;
  margin: auto;
  padding: 30px 10px 10px 10px;
  font-size: 16px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin: 0 0 5px 0;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
   padding: 15px 10px 15px 10px;
   margin: 0 0 5px 0;
}

.button-container {
  background: #e3f4ff;
   padding: 10px;
   margin: auto;
  display: block;
  text-align: center;
}


button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 10px 20px 10px 20px ;
  margin: auto;
   
}